---
import config from "@/config";
import Layout from "@/layouts/Layout.astro";
import FileContainer from "@/components/FileContainer.astro";
import Intro from "@/components/Intro.astro";
import ReleaseList, { type ReleaseListItem } from "@/components/ReleaseList.astro";
import BreadCrumb from "@/components/BreadCrumb.astro";

const list: ReleaseListItem[] = config.releases.map(release => ({
  name: release.name,
  url: `./${release.tag.name}/`,
  tag: release.tag,
  commit: release.commit,
  labels: release.labels,
  lastUpdated: release.published_at
}));

const indexTags = new Set(config.index_tags);

const indexReleases = config.releases.filter(rl => indexTags.has(rl.tag.name));
---

<Layout
  title={config.repo_fullname || config.name}
  description={config.description}
  class:list="py-4 sm:py-6 md:py-8 px-2 sm:px-4 md:px-8"
>
  <div class="max-w-7xl px-3 md:px-4 lg:px-5 mx-auto mt-10" id="intro">
    <Intro
      name={config.name}
      description={config.description}
      repoFullname={config.repo_fullname}
      repoUrl={config.repo_url}
      avatarUrl={config.avatar_url}
      labels={config.labels}
      license={config.license}
    />
  </div>
  <div class="max-w-7xl px-3 md:px-4 lg:px-5 mx-auto mt-10" id="list">
    <BreadCrumb slug={[""]} />
    <ReleaseList list={list} />
  </div>
  <div class="max-w-7xl px-3 md:px-4 lg:px-5 mx-auto mt-10" id="releases">
    {
      indexReleases.map(release => {
        const containsLatest = release.labels.some(label => label.trim().toLowerCase() === "latest");
        return <FileContainer repoUrl={config.repo_url} release={release} defaultOpen={containsLatest} />;
      })
    }
  </div>
</Layout>
